POSTGRES_PASSWORD=postgres123
DATABASE_URL=Host=postgres;Database=pbl3;Username=pbl3;Password=postgres123;Port=5432
JWT_KEY=c0iUlC5gJRY2VuGuZSdKkvcRj7lnPPyyXI5P4Zivf4V
JWT_ISSUER=pbl3-backend
JWT_AUDIENCE=pbl3-frontend
GOOGLE_CLIENT_ID=35925051019-dnareokphcdpt3iho7jbvk60di65k19s.apps.googleusercontent.com
ASPNETCORE_URLS=http://+:8080
MOMO_PARTNER_CODE=MOMO
MOMO_ACCESS_KEY=F8BBA842ECF85
MOMO_SECRET_KEY=K951B6PE1waDMi640xX08PD3vg6EkVlz
MOMO_ENDPOINT=https://test-payment.momo.vn
MOMO_REDIRECT_URL=http://134.209.209.6.nip.io/booking/payment-result
MOMO_FRONTEND_REDIRECT_URL=http://134.209.209.6.nip.io/booking/payment-result
MOMO_IPN_URL=http://134.209.209.6.nip.io:60010/api/payments/momo/ipn
MOMO_PARTNER_NAME=PBL3
MOMO_STORE_ID=PBL3Store
MOMO_REQUEST_TYPE=captureWallet
MOMO_LANG=vi
VNPAY_TMN_CODE=2QXUIB05
VNPAY_HASH_SECRET=MSDTCWJEFQDXGZXTUXJNEPZJCHWJELWO
VNPAY_BASE_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://134.209.209.6.nip.io/booking/payment-result
VNPAY_IPN_URL=http://134.209.209.6.nip.io:60010/api/payments/vnpay/ipn
